@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
}

.order-status {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-top: 0;
  }

  .fa-solid {
    font-size: 4rem;

    &.fa-check {
      color: green;
    }

    &.fa-xmark {
      color: red;
    }
  }
}
